:root {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --background: #F8F8F8;
    --text-color: #323238;
    --bg-header: #EFEFEF;
    --primary-color: #2196F3;
}